.App {
  text-align: center;
}

.selected {
  background-color: beige !important;
  color: red !important;
}

.active {
  color: rgb(233, 104, 44) !important;
  border-bottom: 1px solid white;
}

.nav-link-item {
  color: inherit;
  text-decoration: none;
}

.nav-link-item:hover,
.nav-link-item:active,
.nav-link-item:visited {
  color: red;
  text-decoration: none;
}

/* Styling for when the link is active */
.nav-link-item.active {
  color: green;
}